.flatpak/
builddir/
.flatpak-builder/
repo/
flathub/
build/
_build/
io.github.dzheremi2.lrcmake-gtk.flatpak
*.pyc
io.github.dzheremi2.lrcmake_gtk.Devel.flatpak
io.github.dzheremi2.lrcmake_gtk.Devel.yaml
.ruff_cache/