:root {
  --lyrics-text-bg-dark: #f7f3fb;
  --lyrics-text-bg-light: #291d02;
  --lyrics-none-bg-dark: #565659;
  --lyrics-none-bg-light: #eae8e6;
  --border-radius-lg: 12px;
  --border-radius-sm: 6px;
  --rounded-frame-bg: #eeeeee;
  --chip-bg-color: var(--card-bg-color, var(--window-bg-color));
  --chip-fg-color: var(--card-fg-color, var(--window-fg-color));
}

.rounded, /* For just 12px rounded borders */
.rounded-frame { /* For Gtk.TextView */
    border-radius: var(--border-radius-lg); 
}

.rounded-frame {
    background-color: var(--rounded-frame-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
      --rounded-frame-bg: #1d1d20;
  }
}

/* Dim for text in `TextView`s */
textview.placeholder-text {
  opacity: var(--dim-opacity);
}

/* From Ear Tag src https://gitlab.gnome.org/World/eartag/-/blob/main/src/style.css?ref_type=heads */
.drag-target { /* Drag'n'Drop overlay*/
  background-color: hsl(from var(--accent-bg-color) h calc(s * 0.7) calc(l * 0.7));
  opacity: 0.85;
}

/* Word-by-Word word cards */
.word-frame { /* Used for cureent word */
  border: 4px solid var(--accent-bg-color);
  border-radius: var(--border-radius-lg);
  padding: 6px;
}

.synced-card { /* Used when word is synced for Gtk.Box */
  background-color: #37713f;
}

.instrumental {
  color: #2190a4;
}

.synced-text { /* Used when word is synced for Gtk.Label */
  color: #ffffff;
}

.no-hover:hover, /*
To use buttons as icons display.
Will only work with flat buttons without some extended setting
*/
flowboxchild:hover,
flowboxchild:active { /* To "fix" Adwaita 1.8 Gtk.FlowBox fix */
  background: initial;
  background-image: initial;
  box-shadow: none;
  outline: none; 
}

/* From https://github.com/workbenchdev/Workbench/blob/main/src/style.css */
button.pill.small { 
  font-size: 0.83333em;
  border-radius: 99px;
  margin: 0;
  padding: 1px 12px;
}


/* Reimplements OSD style from LibAdwaita to not affect associated Gio.Menu */
menubutton.osd-button-only > button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 9999px;
}
@media (prefers-contrast: more) {
  menubutton.osd-button-only > button {
    box-shadow: 0 0 0 1px currentColor;
  }
}
menubutton.osd-button-only > button:hover {
  color: white;
  background-color: color-mix(in srgb, black calc(0.85 * 65%), currentColor calc(0.15 * 65%));
}
menubutton.osd-button-only > button:active {
  color: white;
  background-color: color-mix(in srgb, black calc(0.75 * 65%), currentColor calc(0.25 * 65%));
}

@media (prefers-color-scheme: light) {
  button.lyrics.none {
    background-color: var(--lyrics-none-bg-light);
    color: var(--lyrics-text-bg-light);
  }
}

@media (prefers-color-scheme: dark) {
  button.lyrics.none {
    background-color: var(--lyrics-none-bg-dark);
    color: var(--lyrics-text-bg-dark);
  }
}
/* -------------------------------- */

/* List View library mode covers rounding */
#list_view_row_cover {
  border-radius: var(--border-radius-sm); 
}

/* From Ear Tag src https://gitlab.gnome.org/World/eartag/-/blob/main/src/style.css?ref_type=heads */
/* To remove cover button default highlight in MetadataEditor dialog with revealer with pen icon inside*/
.album-cover {
	box-shadow: 0px 1px 6px rgba(0,0,0,0.3),
	      0px 2px 12px rgba(0,0,0,0.15),
	      0px 6px 32px rgba(0,0,0,0.1);
	border-radius: 12px;
}
.album-cover button {
	padding: 0;
	margin: 0;
	outline-offset: 3px;
}
.album-cover * {
	border-radius: 12px;
}
.album-cover .hover-highlight {
  background-color: rgba(56, 56, 56, 0.5);
  color: #fff;
}


/* Used to re-create FlowBoxish look as it was before */
gridview.library-grid {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
  padding: 0;
  margin: 6px;
}

.bulk-delete-selected {
  background-color: rgba(192, 28, 40, 0.18);
  box-shadow: inset 0 0 0 2px rgba(192, 28, 40, 0.9);
}
