.rounded {
    border-radius: 12px;
}

.rounded-frame {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #eeeeee;
}

.drag-target {
    /* This is a style from https://gitlab.gnome.org/World/eartag/-/blob/main/src/style.css?ref_type=heads */
    /* Thanks for this */
	background-color: hsl(from var(--accent-bg-color) h calc(s * 0.7) calc(l * 0.7));
	opacity: 0.85;
}

.word-frame {
  border: 4px solid var(--accent-bg-color);
  border-radius: 12px;
  padding: 6px;
}

.synced-card {
  background-color: #37713f;
}

.synced-text {
  color: #ffffff;
}


#list_view_row_cover {
    border-radius: 6px;
}

flowboxchild:hover,
flowboxchild:active {
  background: none;
  box-shadow: none;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .rounded-frame {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #1d1d20;
  }
}